<div class="row">
    <div class="col-6">
        <div class="form-group">
            <label for="nome">Nome</label>
            <div>
              <input type="text" class="form-control" [value]="escola.nome" disabled >
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group">
            <label for="mat">Quantidade de aluno Matriculados: </label>
            <div>
              <input type="text" class="form-control" [value]="escola.matriculados" disabled >
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-6">
      <div class="form-group">
          <label for="prof">Quantidade Professores: </label>
          <div>
            <input type="text" class="form-control" [value]="escola.professores" disabled >
          </div>
      </div>
  </div>
  <div class="col-6">
      <div class="form-group">
          <label for="labInf">Possui Laboratório de Informática: </label>
          <div>
            <input type="text" class="form-control" [value]="escola.labinformatica | simNao" disabled >
          </div>
      </div>
  </div>
</div>
<div class="row">
  <button class="btn btn-primary" [routerLink]="'/listarEscola'"  >Voltar</button>
</div>
